.modal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 350px;

  .banner {
    background-repeat: no-repeat;
    background-size: 100% auto;
  }

  .info {
    padding: 20px;
  }
}

.cards {
  display: flex;
  flex-flow: row wrap;
  grid-gap: 10px 0;
  width: 100%;
  margin-top: 16px;

  .card {
    display: flex;
    flex-direction: column;
    width: 240px;
    height: 230px;
    padding-top: 16px;

    > div:first-child {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100px;

      > img {
        height: inherit;
        width: auto;
        max-width: 240px;
      }
    }
  }
}

.btn {
  margin-top: 16px;
  min-width: 165px;

  &.clear {
    margin-left: 16px;
  }
}

.search {
  width: 100%;
}

.spin {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}
